@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100&display=swap");

.footer-container {

    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(146, 146, 58);
}

.footer__titulo {

    margin: 1rem 0rem;
    font-family: "Exo 2", sans-serif;
    font-weight: bold;
    font-size: 2rem;
}
.footer__texto {

    margin: 1rem 0rem;
}

.footer__link{

    text-decoration: none;
    color: white;
}

.footer__link:hover {

    text-decoration: underline;
}